*   /*:ghost:WAZAAA:ghost:*/
{
    background-color: aqua;
}   /*empezamos con el merche*/

h1 
{
<<<<<<< HEAD
<<<<<<< HEAD
    color: red;
=======
<<<<<<< HEAD
=======
>>>>>>> feature/colormorado
    color: purple;
=======
    /*color: red;*/
>>>>>>> feature/index
<<<<<<< HEAD
>>>>>>> feature/colormorado
=======
>>>>>>> feature/colormorado
}
