*   /*:ghost:WAZAAA:ghost:*/
{
    background-color: aqua;
<<<<<<< HEAD
<<<<<<< HEAD
}   /*empezamos con el merche*/
=======
}
h1 
{
    color: purple;
}
>>>>>>> feature/index
=======
}
h1 
{
    color: red;
}
>>>>>>> develop
